<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">gitFlick</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная страница</a></li>
        <li class="nav-item"><a href="/task" class="nav-link">Задачи</a></li>
        <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
          <button class="btn btn-outline-success my-2 my-sm-0">Выйти</button>
        </form>
      </ul>
    </header>
  </div>
</div>